root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,mdx}]
indent_size = unset
trim_trailing_whitespace = false

[*.{html,js,md,mdx}]
block_comment_start = /**
block_comment = *
block_comment_end = */
