# build output
dist/
# generated types
.astro/

.astro

# generated __mdjs-stories.js files
public/docs

## editors
/.idea
/.vscode
/*.code-workspace
/.history

## system files
.DS_Store

## npm/yarn
node_modules/
npm-debug.log
yarn-error.log

## build artifacts
/lib/
/build/
/bundlesize/dist/
**/custom-elements.json
dist
dist-types
*.tsbuildinfo
.wireit

## types
*.d.ts
!packages/**/*/types/**/*
!packages/**/index.d.ts
!packages-node/**/*/types/**/*
!packages-node/**/index.d.ts
!packages-node/**/types.d.ts

## temp folders
/.tmp/
/coverage/
/storybook-static/
/screenshots/.current/
/screenshots/.diff/

## temp files
local.log

## browserstack
browserstack.err

debug.log

## generated test fiels
__output
.wireit

## generate-package-exports tests
packages/ui/new-exports/
packages/ui/test-exports/

src/content/docs
