## editors
/.idea
/.vscode
/*.code-workspace
/.history

## system files
.DS_Store

## npm/yarn
node_modules/
npm-debug.log
yarn-error.log

# we do prefer yarn.lock so we do not want npms version of it
/package-lock.json

## build artifacts
/lib/
/build/

## temp folders
/.tmp/
/coverage/
/storybook-static/

## temp files
local.log

## browserstack
browserstack.err
