<script src="{{ '/_assets/scoped-custom-element-registry.min.js' | asset | url }}"></script>
<script src="https://unpkg.com/@stackblitz/sdk/bundles/sdk.umd.js"></script>
<script src="{{ '/_assets/html-importmap.js' | asset | url }}"></script>
<script type="module" src="{{ '/_assets/mdjs-sandbox.wc.js' | asset | url }}"></script>
