<link rel="stylesheet" href="{{ '/_assets/layout.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/markdown.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/style/variables.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/style/style.css' | asset | url }}">
<link rel="stylesheet" href="{{ '/_assets/style/prism-theme.css' | asset | url }}">
