* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  gap: 2rem;
  align-self: stretch;
}

@media only screen and (max-width: 600px) {
  .inputs {
    flex-direction: column;
  }
}

.output {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 24pt;
  margin: 0;
}

textarea {
  width: 100%;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 12pt;
  border: 1px solid #aaa;
}

button {
  padding: 1rem;
  font-family: sans-serif;
  font-size: 12pt;
}

.hidden {
  display: none;
}

.entry {
  padding: 24px;
  border-bottom: 1px solid #eee;
}

.entry a {
  text-decoration: none;
  color: #000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}

.entry a:hover {
  text-decoration: underline;
}

.entry:hover {
  background-color: #eee;
}
