/* feel free to override this file for your page - add a file docs/_assets/style.css */

body[layout^='layout-home'] .markdown-body .call-to-action:nth-of-type(2) {
  --primary-color: #222;
  --primary-color-lighter: #333;
  --primary-color-darker: #000;
}

@media screen and (min-width: 1024px) {
  body[layout='layout-home-background'] .page-background {
    top: -210px;
    right: -463px;
    transform: rotate(45deg);
  }
}
