body[layout='layout-home'] .markdown-body .call-to-action:nth-of-type(2) {
  --primary-color: #222;
  --primary-color-lighter: #333;
  --primary-color-darker: #000;
}

.markdown-body img {
  width: 100%;
}

mdjs-preview {
  margin-bottom: 20px;
}
