body[layout='layout-home'] .markdown-body .call-to-action:nth-of-type(2) {
  background: linear-gradient(to right, #555, #222);
}

body[layout='layout-home'] .markdown-body .call-to-action:nth-of-type(2):hover {
  background: #000;
}

body[layout='layout-home'] .markdown-body .call-to-action-listitem:nth-of-type(1) {
  --primary-color: #8f7325;
  --primary-color-darker: #725c1e;
}

#layout-index-open-navigation {
  --primary-color: #8f7325;
  --primary-color-darker: #725c1e;
}

.markdown-body img {
  width: 100%;
}

.markdown-body a {
  text-decoration: underline;
}

mdjs-preview {
  margin-bottom: 20px;
}

#main-header a {
  font-weight: normal;
}

#main-header a.active {
  font-weight: bold;
}

#main-header .active {
  display: block;
}

#sidebar-nav {
  padding: 2px;
}

#main-header a[href='/blog/'] {
  display: none;
}

@media screen and (min-width: 1024px) {
  #main-header a[href='/blog/'] {
    display: block;
  }
}
