html {
  --primary-color: #8f7325;
  --primary-color-lighter: #8f7325;
  --primary-color-darker: #705918;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #2c3e50;
  --primary-lines-color: #ccc;

  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: white;
  --footer-background: rgba(0, 0, 0, 0.1);

  --text-color: black;

  /* search colors*/
  --rocket-search-highlight-color: #2c3e50;
}
