---
import { getCollection } from "astro:content";
import { UIPortalCard } from '@portal-provide-design/provide-designs-and-export-components--side-effectful.js';

import MainLayout from "../../layouts/MainLayout.astro";
const components = await getCollection("component");

---

<MainLayout>
  <h1>Components</h1>
  <p>Orange Juice provides components and tools to help team work more efficiently, and to make ING’s platforms more cohesive.</p>
  <div class="ui-portal-collection">
    {
      components.map((comp) => (
        <article>
          <UIPortalCard href={"components/" + comp.slug}>
            <div slot="heading">{comp.data.name}</div>
            <p slot="content">{comp.data.description}</p>
          </UIPortalCard>
        </article>
      ))
    }
  </div>
</MainLayout>
