 ::slotted([slot="label"]) {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  font-family: var(
    --mdc-typography-subtitle1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: 1rem;
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  font-weight: 400;
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: 0.009375em;
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: inherit;
  -webkit-text-decoration: var(
    --mdc-typography-subtitle1-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  position: absolute;
  left: 0;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  line-height: 1.15rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: text;
  overflow: hidden;
  will-change: transform;
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
[dir="rtl"] ::slotted([slot="label"]),
::slotted([slot="label"][dir="rtl"]) {
  right: 0;
  left: auto;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  text-align: right;
}
.mdc-floating-label--float-above {
  cursor: auto;
}
.mdc-floating-label--required::after {
  margin-left: 1px;
  margin-right: 0px;
  content: "*";
}
[dir="rtl"] .mdc-floating-label--required::after,
.mdc-floating-label--required[dir="rtl"]::after {
  margin-left: 0;
  margin-right: 1px;
}
.mdc-floating-label--float-above {
  -webkit-transform: translateY(-106%) scale(0.75);
  transform: translateY(-106%) scale(0.75);
}
.mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-standard 250ms 1;
  animation: mdc-floating-label-shake-float-above-standard 250ms 1;
}
@-webkit-keyframes mdc-floating-label-shake-float-above-standard {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-106%) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-106%) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
  }
}
@keyframes mdc-floating-label-shake-float-above-standard {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-106%) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-106%) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-106%) scale(0.75);
  }
}
.mdc-line-ripple::before,
.mdc-line-ripple::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-style: solid;
  content: "";
}
.mdc-line-ripple::before {
  border-bottom-width: 1px;
  z-index: 1;
}
.mdc-line-ripple::after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  border-bottom-width: 2px;
  opacity: 0;
  z-index: 2;
}
.mdc-line-ripple::after {
  transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mdc-line-ripple--active::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}
.mdc-line-ripple--deactivating::after {
  opacity: 0;
}
.mdc-notched-outline {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none;
}
[dir="rtl"] .mdc-notched-outline,
.mdc-notched-outline[dir="rtl"] {
  text-align: right;
}
.mdc-notched-outline__leading,
.mdc-notched-outline__notch,
.mdc-notched-outline__trailing {
  box-sizing: border-box;
  height: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  pointer-events: none;
}
.mdc-notched-outline__leading {
  border-left: 1px solid;
  border-right: none;
  width: 12px;
}
[dir="rtl"] .mdc-notched-outline__leading,
.mdc-notched-outline__leading[dir="rtl"] {
  border-left: none;
  border-right: 1px solid;
}
.mdc-notched-outline__trailing {
  border-left: none;
  border-right: 1px solid;
  flex-grow: 1;
}
[dir="rtl"] .mdc-notched-outline__trailing,
.mdc-notched-outline__trailing[dir="rtl"] {
  border-left: 1px solid;
  border-right: none;
}
.mdc-notched-outline__notch {
  flex: 0 0 auto;
  width: auto;
  max-width: calc(100% - 12px * 2);
}
.mdc-notched-outline ::slotted([slot="label"]) {
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.mdc-notched-outline .mdc-floating-label--float-above {
  text-overflow: clip;
}
.mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  max-width: calc(100% / 0.75);
}
.mdc-notched-outline--notched .mdc-notched-outline__notch {
  padding-left: 0;
  padding-right: 8px;
  border-top: none;
}
[dir="rtl"] .mdc-notched-outline--notched .mdc-notched-outline__notch,
.mdc-notched-outline--notched .mdc-notched-outline__notch[dir="rtl"] {
  padding-left: 8px;
  padding-right: 0;
}
.mdc-notched-outline--no-label .mdc-notched-outline__notch {
  display: none;
}
@-webkit-keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0))
      scale(1);
    transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
  }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
      scale(var(--mdc-ripple-fg-scale, 1));
    transform: translate(var(--mdc-ripple-fg-translate-end, 0))
      scale(var(--mdc-ripple-fg-scale, 1));
  }
}
@keyframes mdc-ripple-fg-radius-in {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0))
      scale(1);
    transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
  }
  to {
    -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
      scale(var(--mdc-ripple-fg-scale, 1));
    transform: translate(var(--mdc-ripple-fg-translate-end, 0))
      scale(var(--mdc-ripple-fg-scale, 1));
  }
}
@-webkit-keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 0;
  }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
}
@keyframes mdc-ripple-fg-opacity-in {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 0;
  }
  to {
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
}
@-webkit-keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
  to {
    opacity: 0;
  }
}
@keyframes mdc-ripple-fg-opacity-out {
  from {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: var(--mdc-ripple-fg-opacity, 0);
  }
  to {
    opacity: 0;
  }
}
:host([filled]) {
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  will-change: transform, opacity;
}
:host([filled]) .mdc-text-field__ripple::before,
:host([filled]) .mdc-text-field__ripple::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}
:host([filled]) .mdc-text-field__ripple::before {
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
  z-index: var(--mdc-ripple-z-index, 1);
}
:host([filled]) .mdc-text-field__ripple::after {
  z-index: 0;
  z-index: var(--mdc-ripple-z-index, 0);
}
:host(.mdc-ripple-upgraded[filled]) .mdc-text-field__ripple::before {
  -webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
  transform: scale(var(--mdc-ripple-fg-scale, 1));
}
:host(.mdc-ripple-upgraded[filled]) .mdc-text-field__ripple::after {
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}
:host(.mdc-ripple-upgraded--unbounded[filled]) .mdc-text-field__ripple::after {
  top: var(--mdc-ripple-top, 0);
  left: var(--mdc-ripple-left, 0);
}
:host(.mdc-ripple-upgraded--foreground-activation[filled])
  .mdc-text-field__ripple::after {
  -webkit-animation: mdc-ripple-fg-radius-in 225ms forwards,
    mdc-ripple-fg-opacity-in 75ms forwards;
  animation: mdc-ripple-fg-radius-in 225ms forwards,
    mdc-ripple-fg-opacity-in 75ms forwards;
}
:host(.mdc-ripple-upgraded--foreground-deactivation[filled])
  .mdc-text-field__ripple::after {
  -webkit-animation: mdc-ripple-fg-opacity-out 150ms;
  animation: mdc-ripple-fg-opacity-out 150ms;
  -webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
    scale(var(--mdc-ripple-fg-scale, 1));
  transform: translate(var(--mdc-ripple-fg-translate-end, 0))
    scale(var(--mdc-ripple-fg-scale, 1));
}
:host([filled]) .mdc-text-field__ripple::before,
:host([filled]) .mdc-text-field__ripple::after {
  top: calc(50% - 100%);
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
}
:host(.mdc-ripple-upgraded[filled]) .mdc-text-field__ripple::after {
  width: var(--mdc-ripple-fg-size, 100%);
  height: var(--mdc-ripple-fg-size, 100%);
}
.mdc-text-field__ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
:host {
  border-top-left-radius: 4px;
  border-top-left-radius: var(--mdc-shape-small, 4px);
  border-top-right-radius: 4px;
  border-top-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  display: inline-flex;
  align-items: baseline;
  padding: 0 16px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  will-change: opacity, transform, color;
}
:host(:not([disabled])) ::slotted([slot="label"]) {
  color: rgba(0, 0, 0, 0.6);
}
:host(:not([disabled])) ::slotted([slot="input"]) {
  color: rgba(0, 0, 0, 0.87);
}
@media all {
  :host(:not([disabled])) ::slotted([slot="input"]::-webkit-input-placeholder) {
    color: rgba(0, 0, 0, 0.54);
  }
  :host(:not([disabled])) ::slotted([slot="input"]:-ms-input-placeholder) {
    color: rgba(0, 0, 0, 0.54);
  }
  :host(:not([disabled])) ::slotted([slot="input"]::-ms-input-placeholder) {
    color: rgba(0, 0, 0, 0.54);
  }
  :host(:not([disabled])) ::slotted([slot="input"]::placeholder) {
    color: rgba(0, 0, 0, 0.54);
  }
}
@media all {
  :host(:not([disabled])) ::slotted([slot="input"]:-ms-input-placeholder) {
    color: rgba(0, 0, 0, 0.54);
  }
}
:host ::slotted([slot="input"]) {
  caret-color: #6200ee;
  caret-color: var(--mdc-theme-primary, #6200ee);
}
:host(:not([disabled]))
  + .mdc-text-field-helper-line
  .mdc-text-field-helper-text {
  color: rgba(0, 0, 0, 0.6);
}
:host(:not([disabled])) .mdc-text-field-character-counter,
:host(:not([disabled]))
  + .mdc-text-field-helper-line
  .mdc-text-field-character-counter {
  color: rgba(0, 0, 0, 0.6);
}
:host(:not([disabled])) .mdc-text-field__icon--leading {
  color: rgba(0, 0, 0, 0.54);
}
:host(:not([disabled])) .mdc-text-field__icon--trailing {
  color: rgba(0, 0, 0, 0.54);
}
:host(:not([disabled])) .mdc-text-field__affix--prefix {
  color: rgba(0, 0, 0, 0.6);
}
:host(:not([disabled])) .mdc-text-field__affix--suffix {
  color: rgba(0, 0, 0, 0.6);
}
:host ::slotted([slot="label"]) {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}
::slotted([slot="input"]) {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  font-family: var(
    --mdc-typography-subtitle1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: 1rem;
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  font-weight: 400;
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: 0.009375em;
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: inherit;
  -webkit-text-decoration: var(
    --mdc-typography-subtitle1-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  height: 28px;
  transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  min-width: 0;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
}
::slotted([slot="input"]::-ms-clear) {
  display: none;
}
::slotted([slot="input"]::-webkit-calendar-picker-indicator) {
  display: none;
}
::slotted([slot="input"]:focus) {
  outline: none;
}
::slotted([slot="input"]:invalid) {
  box-shadow: none;
}
@media all {
  ::slotted([slot="input"]::-webkit-input-placeholder) {
    transition: opacity 67ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
  ::slotted([slot="input"]:-ms-input-placeholder) {
    transition: opacity 67ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
  ::slotted([slot="input"]::-ms-input-placeholder) {
    transition: opacity 67ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
  ::slotted([slot="input"]::placeholder) {
    transition: opacity 67ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
}
@media all {
  ::slotted([slot="input"]:-ms-input-placeholder) {
    transition: opacity 67ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
  }
}
@media all {
  :host([no-label]) ::slotted([slot="input"]::-webkit-input-placeholder),
  :host([focused]) ::slotted([slot="input"]::-webkit-input-placeholder) {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }
  :host([no-label]) ::slotted([slot="input"]:-ms-input-placeholder),
  :host([focused]) ::slotted([slot="input"]:-ms-input-placeholder) {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }
  :host([no-label]) ::slotted([slot="input"]::-ms-input-placeholder),
  :host([focused]) ::slotted([slot="input"]::-ms-input-placeholder) {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }
  :host([no-label]) ::slotted([slot="input"]::placeholder),
  :host([focused]) ::slotted([slot="input"]::placeholder) {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }
}
@media all {
  :host([no-label]) ::slotted([slot="input"]:-ms-input-placeholder),
  :host([focused]) ::slotted([slot="input"]:-ms-input-placeholder) {
    transition-delay: 40ms;
    transition-duration: 110ms;
    opacity: 1;
  }
}
.mdc-text-field__affix {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  font-family: var(
    --mdc-typography-subtitle1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: 1rem;
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  font-weight: 400;
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: 0.009375em;
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: inherit;
  -webkit-text-decoration: var(
    --mdc-typography-subtitle1-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  height: 28px;
  transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  white-space: nowrap;
}
:host([label-floating]) .mdc-text-field__affix,
:host([no-label]) .mdc-text-field__affix {
  opacity: 1;
}
@supports (-webkit-hyphens: none) {
  :host([outlined]) .mdc-text-field__affix {
    align-items: center;
    align-self: center;
    display: inline-flex;
    height: 100%;
  }
}
.mdc-text-field__affix--prefix {
  padding-left: 0;
  padding-right: 2px;
}
[dir="rtl"] .mdc-text-field__affix--prefix,
.mdc-text-field__affix--prefix[dir="rtl"] {
  padding-left: 2px;
  padding-right: 0;
}
:host([end-aligned]) .mdc-text-field__affix--prefix {
  padding-left: 0;
  padding-right: 12px;
}
:host([end-aligned]) .mdc-text-field__affix--prefix[dir="rtl"] {
  padding-left: 12px;
  padding-right: 0;
}
.mdc-text-field__affix--suffix {
  padding-left: 12px;
  padding-right: 0;
}
[dir="rtl"] .mdc-text-field__affix--suffix,
.mdc-text-field__affix--suffix[dir="rtl"] {
  padding-left: 0;
  padding-right: 12px;
}
:host([end-aligned]) .mdc-text-field__affix--suffix {
  padding-left: 2px;
  padding-right: 0;
}
:host([end-aligned]) .mdc-text-field__affix--suffix[dir="rtl"] {
  padding-left: 0;
  padding-right: 2px;
}
:host([filled]) {
  height: 56px;
}
:host([filled]) .mdc-text-field__ripple::before,
:host([filled]) .mdc-text-field__ripple::after {
  background-color: rgba(0, 0, 0, 0.87);
  background-color: var(--mdc-ripple-color, rgba(0, 0, 0, 0.87));
}
:host(:hover[filled]) .mdc-text-field__ripple::before,
:host(.mdc-ripple-surface--hover[filled]) .mdc-text-field__ripple::before {
  opacity: 0.04;
  opacity: var(--mdc-ripple-hover-opacity, 0.04);
}
:host(.mdc-ripple-upgraded--background-focused[filled])
  .mdc-text-field__ripple::before,
:host(:not(.mdc-ripple-upgraded):focus[filled])
  .mdc-text-field__ripple::before {
  transition-duration: 75ms;
  opacity: 0.12;
  opacity: var(--mdc-ripple-focus-opacity, 0.12);
}
:host(::before[filled]) {
  display: inline-block;
  width: 0;
  height: 40px;
  content: "";
  vertical-align: 0;
}
:host(:not([disabled])[filled]) {
  background-color: whitesmoke;
}
:host(:not([disabled])[filled]) .mdc-line-ripple::before {
  border-bottom-color: rgba(0, 0, 0, 0.42);
}
:host(:not([disabled]):hover[filled]) .mdc-line-ripple::before {
  border-bottom-color: rgba(0, 0, 0, 0.87);
}
:host([filled]) .mdc-line-ripple::after {
  border-bottom-color: #6200ee;
  border-bottom-color: var(--mdc-theme-primary, #6200ee);
}
:host([filled]) ::slotted([slot="label"]) {
  left: 16px;
  right: initial;
}
:host([filled]) ::slotted([slot="label"][dir="rtl"]) {
  left: initial;
  right: 16px;
}
:host([filled]) .mdc-floating-label--float-above {
  -webkit-transform: translateY(-106%) scale(0.75);
  transform: translateY(-106%) scale(0.75);
}
:host([no-label][filled]) ::slotted([slot="input"]) {
  height: 100%;
}
:host([no-label][filled]) ::slotted([slot="label"]) {
  display: none;
}
:host([no-label]::before[filled]) {
  display: none;
}
@supports (-webkit-hyphens: none) {
  :host([no-label][filled]) .mdc-text-field__affix {
    align-items: center;
    align-self: center;
    display: inline-flex;
    height: 100%;
  }
}
:host([outlined]) {
  height: 56px;
  overflow: visible;
}
:host([outlined]) .mdc-floating-label--float-above {
  -webkit-transform: translateY(-37.25px) scale(1);
  transform: translateY(-37.25px) scale(1);
}
:host([outlined]) .mdc-floating-label--float-above {
  font-size: 0.75rem;
}
:host(.mdc-notched-outline--upgraded[outlined])
  .mdc-floating-label--float-above,
:host([outlined])
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  -webkit-transform: translateY(-34.75px) scale(0.75);
  transform: translateY(-34.75px) scale(0.75);
}
:host(.mdc-notched-outline--upgraded[outlined])
  .mdc-floating-label--float-above,
:host([outlined])
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  font-size: 1rem;
}
:host([outlined]) .mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-text-field-outlined
    250ms 1;
  animation: mdc-floating-label-shake-float-above-text-field-outlined 250ms 1;
}
@-webkit-keyframes mdc-floating-label-shake-float-above-text-field-outlined {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-34.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-34.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
  }
}
@keyframes mdc-floating-label-shake-float-above-text-field-outlined {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-34.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-34.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-34.75px) scale(0.75);
  }
}
:host([outlined]) ::slotted([slot="input"]) {
  height: 100%;
}
:host(:not([disabled])[outlined]) .mdc-notched-outline__leading,
:host(:not([disabled])[outlined]) .mdc-notched-outline__notch,
:host(:not([disabled])[outlined]) .mdc-notched-outline__trailing {
  border-color: rgba(0, 0, 0, 0.38);
}
:host(:not([disabled]):not([focused]):hover[outlined])
  .mdc-notched-outline
  .mdc-notched-outline__leading,
:host(:not([disabled]):not([focused]):hover[outlined])
  .mdc-notched-outline
  .mdc-notched-outline__notch,
:host(:not([disabled]):not([focused]):hover[outlined])
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: rgba(0, 0, 0, 0.87);
}
:host(:not([disabled])[focused][outlined]) .mdc-notched-outline__leading,
:host(:not([disabled])[focused][outlined]) .mdc-notched-outline__notch,
:host(:not([disabled])[focused][outlined]) .mdc-notched-outline__trailing {
  border-color: #6200ee;
  border-color: var(--mdc-theme-primary, #6200ee);
}
:host([outlined]) .mdc-notched-outline .mdc-notched-outline__leading {
  border-top-left-radius: 4px;
  border-top-left-radius: var(--mdc-shape-small, 4px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: var(--mdc-shape-small, 4px);
}
:host([outlined])
  .mdc-notched-outline
  .mdc-notched-outline__leading[dir="rtl"] {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-top-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-left-radius: 0;
}
@supports (top: max(0%)) {
  :host([outlined]) .mdc-notched-outline .mdc-notched-outline__leading {
    width: max(12px, var(--mdc-shape-small, 4px));
  }
}
@supports (top: max(0%)) {
  :host([outlined]) .mdc-notched-outline .mdc-notched-outline__notch {
    max-width: calc(100% - max(12px, var(--mdc-shape-small, 4px)) * 2);
  }
}
:host([outlined]) .mdc-notched-outline .mdc-notched-outline__trailing {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-top-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-right-radius: 4px;
  border-bottom-right-radius: var(--mdc-shape-small, 4px);
  border-bottom-left-radius: 0;
}
:host([outlined])
  .mdc-notched-outline
  .mdc-notched-outline__trailing[dir="rtl"] {
  border-top-left-radius: 4px;
  border-top-left-radius: var(--mdc-shape-small, 4px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-left-radius: var(--mdc-shape-small, 4px);
}
@supports (top: max(0%)) {
  :host([outlined]) {
    padding-left: max(16px, calc(var(--mdc-shape-small, 4px) + 4px));
  }
}
@supports (top: max(0%)) {
  :host([outlined]) {
    padding-right: max(16px, var(--mdc-shape-small, 4px));
  }
}
@supports (top: max(0%)) {
  :host([outlined]) + .mdc-text-field-helper-line {
    padding-left: max(16px, calc(var(--mdc-shape-small, 4px) + 4px));
  }
}
@supports (top: max(0%)) {
  :host([outlined]) + .mdc-text-field-helper-line {
    padding-right: max(16px, var(--mdc-shape-small, 4px));
  }
}
:host([with-leading-icon][outlined]) {
  padding-left: 0;
}
@supports (top: max(0%)) {
  :host([with-leading-icon][outlined]) {
    padding-right: max(16px, var(--mdc-shape-small, 4px));
  }
}
:host([with-leading-icon][dir="rtl"][outlined]) {
  padding-right: 0;
}
@supports (top: max(0%)) {
  :host([with-leading-icon][dir="rtl"][outlined]) {
    padding-left: max(16px, var(--mdc-shape-small, 4px));
  }
}
:host([with-trailing-icon][outlined]) {
  padding-right: 0;
}
@supports (top: max(0%)) {
  :host([with-trailing-icon][outlined]) {
    padding-left: max(16px, calc(var(--mdc-shape-small, 4px) + 4px));
  }
}
:host([with-trailing-icon][dir="rtl"][outlined]) {
  padding-left: 0;
}
@supports (top: max(0%)) {
  :host([with-trailing-icon][dir="rtl"][outlined]) {
    padding-right: max(16px, calc(var(--mdc-shape-small, 4px) + 4px));
  }
}
:host([with-leading-icon][with-trailing-icon][outlined]) {
  padding-left: 0;
  padding-right: 0;
}
:host([outlined]) .mdc-notched-outline--notched .mdc-notched-outline__notch {
  padding-top: 1px;
}
:host([outlined]) .mdc-text-field__ripple::before,
:host([outlined]) .mdc-text-field__ripple::after {
  content: none;
}
:host([outlined]) ::slotted([slot="label"]) {
  left: 4px;
  right: initial;
}
:host([outlined]) ::slotted([slot="label"][dir="rtl"]) {
  left: initial;
  right: 4px;
}
:host([outlined]) ::slotted([slot="input"]) {
  display: flex;
  border: none !important;
  background-color: transparent;
}
:host([outlined]) .mdc-notched-outline {
  z-index: 1;
}
:host([textarea]) {
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0;
  transition: none;
}
:host([textarea]) ::slotted([slot="label"]) {
  top: 19px;
}
:host([textarea])
  ::slotted([slot="label"]:not(.mdc-floating-label--float-above)) {
  -webkit-transform: none;
  transform: none;
}
:host([textarea]) ::slotted([slot="input"]) {
  flex-grow: 1;
  height: auto;
  min-height: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  resize: none;
  padding: 0 16px;
  line-height: 1.5rem;
}
:host([filled]::before[textarea]) {
  display: none;
}
:host([filled][textarea]) .mdc-floating-label--float-above {
  -webkit-transform: translateY(-10.25px) scale(0.75);
  transform: translateY(-10.25px) scale(0.75);
}
:host([filled][textarea]) .mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-textarea-filled 250ms
    1;
  animation: mdc-floating-label-shake-float-above-textarea-filled 250ms 1;
}
@-webkit-keyframes mdc-floating-label-shake-float-above-textarea-filled {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-10.25px)
      scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-10.25px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-10.25px)
      scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-10.25px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
  }
}
@keyframes mdc-floating-label-shake-float-above-textarea-filled {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-10.25px)
      scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-10.25px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-10.25px)
      scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-10.25px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-10.25px) scale(0.75);
  }
}
:host([filled][textarea]) ::slotted([slot="input"]) {
  margin-top: 23px;
  margin-bottom: 9px;
}
:host([filled][no-label][textarea]) ::slotted([slot="input"]) {
  margin-top: 16px;
  margin-bottom: 16px;
}
:host([outlined][textarea])
  .mdc-notched-outline--notched
  .mdc-notched-outline__notch {
  padding-top: 0;
}
:host([outlined][textarea]) .mdc-floating-label--float-above {
  -webkit-transform: translateY(-27.25px) scale(1);
  transform: translateY(-27.25px) scale(1);
}
:host([outlined][textarea]) .mdc-floating-label--float-above {
  font-size: 0.75rem;
}
:host([outlined].mdc-notched-outline--upgraded[textarea])
  .mdc-floating-label--float-above,
:host([outlined][textarea])
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  -webkit-transform: translateY(-24.75px) scale(0.75);
  transform: translateY(-24.75px) scale(0.75);
}
:host([outlined].mdc-notched-outline--upgraded[textarea])
  .mdc-floating-label--float-above,
:host([outlined][textarea])
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  font-size: 1rem;
}
:host([outlined][textarea]) .mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-textarea-outlined
    250ms 1;
  animation: mdc-floating-label-shake-float-above-textarea-outlined 250ms 1;
}
@-webkit-keyframes mdc-floating-label-shake-float-above-textarea-outlined {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-24.75px)
      scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-24.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-24.75px)
      scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-24.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
  }
}
@keyframes mdc-floating-label-shake-float-above-textarea-outlined {
  0% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 0%)) translateY(-24.75px)
      scale(0.75);
    transform: translateX(calc(4% - 0%)) translateY(-24.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 0%)) translateY(-24.75px)
      scale(0.75);
    transform: translateX(calc(-4% - 0%)) translateY(-24.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
    transform: translateX(calc(0 - 0%)) translateY(-24.75px) scale(0.75);
  }
}
:host([outlined][textarea]) ::slotted([slot="input"]) {
  margin-top: 16px;
  margin-bottom: 16px;
}
:host([outlined][textarea]) ::slotted([slot="label"]) {
  top: 18px;
}
:host([with-internal-counter][textarea]) ::slotted([slot="input"]) {
  margin-bottom: 2px;
}
:host([with-internal-counter][textarea]) .mdc-text-field-character-counter {
  align-self: flex-end;
  padding: 0 16px;
}
:host([with-internal-counter][textarea])
  .mdc-text-field-character-counter::after {
  display: inline-block;
  width: 0;
  height: 16px;
  content: "";
  vertical-align: -16px;
}
:host([with-internal-counter][textarea])
  .mdc-text-field-character-counter::before {
  display: none;
}
.mdc-text-field__resizer {
  align-self: stretch;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
  min-height: 56px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  overflow: hidden;
  resize: both;
}
:host([filled]) .mdc-text-field__resizer {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
:host([filled]) .mdc-text-field__resizer ::slotted([slot="input"]),
:host([filled]) .mdc-text-field__resizer .mdc-text-field-character-counter {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
:host([outlined]) .mdc-text-field__resizer {
  -webkit-transform: translateX(-1px) translateY(-1px);
  transform: translateX(-1px) translateY(-1px);
}
:host([outlined]) .mdc-text-field__resizer[dir="rtl"] {
  -webkit-transform: translateX(1px) translateY(-1px);
  transform: translateX(1px) translateY(-1px);
}
:host([outlined]) .mdc-text-field__resizer ::slotted([slot="input"]),
:host([outlined]) .mdc-text-field__resizer .mdc-text-field-character-counter {
  -webkit-transform: translateX(1px) translateY(1px);
  transform: translateX(1px) translateY(1px);
}
:host([outlined]) .mdc-text-field__resizer ::slotted([slot="input"][dir="rtl"]),
:host([outlined])
  .mdc-text-field__resizer
  .mdc-text-field-character-counter[dir="rtl"] {
  -webkit-transform: translateX(-1px) translateY(1px);
  transform: translateX(-1px) translateY(1px);
}
:host([with-leading-icon]) {
  padding-left: 0;
  padding-right: 16px;
}
:host([dir="rtl"][with-leading-icon]) {
  padding-left: 16px;
  padding-right: 0;
}
:host([filled][with-leading-icon]) ::slotted([slot="label"]) {
  max-width: calc(100% - 48px);
  left: 48px;
  right: initial;
}
:host([filled][with-leading-icon]) ::slotted([slot="label"][dir="rtl"]) {
  left: initial;
  right: 48px;
}
:host([filled][with-leading-icon]) .mdc-floating-label--float-above {
  max-width: calc(100% / 0.75 - 64px / 0.75);
}
:host([outlined][with-leading-icon]) ::slotted([slot="label"]) {
  left: 36px;
  right: initial;
}
:host([outlined][with-leading-icon]) ::slotted([slot="label"][dir="rtl"]) {
  left: initial;
  right: 36px;
}
:host([outlined][with-leading-icon])
  :not(.mdc-notched-outline--notched)
  .mdc-notched-outline__notch {
  max-width: calc(100% - 60px);
}
:host([outlined][with-leading-icon]) .mdc-floating-label--float-above {
  -webkit-transform: translateY(-37.25px) translateX(-32px) scale(1);
  transform: translateY(-37.25px) translateX(-32px) scale(1);
}
:host([outlined][with-leading-icon])
  .mdc-floating-label--float-above[dir="rtl"] {
  -webkit-transform: translateY(-37.25px) translateX(32px) scale(1);
  transform: translateY(-37.25px) translateX(32px) scale(1);
}
:host([outlined][with-leading-icon]) .mdc-floating-label--float-above {
  font-size: 0.75rem;
}
:host([outlined].mdc-notched-outline--upgraded[with-leading-icon])
  .mdc-floating-label--float-above,
:host([outlined][with-leading-icon])
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  -webkit-transform: translateY(-34.75px) translateX(-32px) scale(0.75);
  transform: translateY(-34.75px) translateX(-32px) scale(0.75);
}
:host([outlined].mdc-notched-outline--upgraded[with-leading-icon])
  .mdc-floating-label--float-above[dir="rtl"],
:host([outlined][with-leading-icon])
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above[dir="rtl"] {
  -webkit-transform: translateY(-34.75px) translateX(32px) scale(0.75);
  transform: translateY(-34.75px) translateX(32px) scale(0.75);
}
:host([outlined].mdc-notched-outline--upgraded[with-leading-icon])
  .mdc-floating-label--float-above,
:host([outlined][with-leading-icon])
  .mdc-notched-outline--upgraded
  .mdc-floating-label--float-above {
  font-size: 1rem;
}
:host([outlined][with-leading-icon]) .mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-text-field-outlined-leading-icon
    250ms 1;
  animation: mdc-floating-label-shake-float-above-text-field-outlined-leading-icon
    250ms 1;
}
@-webkit-keyframes mdc-floating-label-shake-float-above-text-field-outlined-leading-icon {
  0% {
    -webkit-transform: translateX(calc(0 - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - 32px)) translateY(-34.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(4% - 32px)) translateY(-34.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(-4% - 32px)) translateY(-34.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - 32px)) translateY(-34.75px) scale(0.75);
  }
}
@keyframes mdc-floating-label-shake-float-above-text-field-outlined-leading-icon {
  0% {
    -webkit-transform: translateX(calc(0 - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - 32px)) translateY(-34.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(4% - 32px)) translateY(-34.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(-4% - 32px)) translateY(-34.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - 32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - 32px)) translateY(-34.75px) scale(0.75);
  }
}
:host([outlined][dir="rtl"][with-leading-icon]) .mdc-floating-label--shake {
  -webkit-animation: mdc-floating-label-shake-float-above-text-field-outlined-leading-icon
    250ms 1;
  animation: mdc-floating-label-shake-float-above-text-field-outlined-leading-icon
    250ms 1;
}
@-webkit-keyframes mdc-floating-label-shake-float-above-text-field-outlined-leading-icon-rtl {
  0% {
    -webkit-transform: translateX(calc(0 - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - -32px)) translateY(-34.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(4% - -32px)) translateY(-34.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(-4% - -32px)) translateY(-34.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - -32px)) translateY(-34.75px) scale(0.75);
  }
}
@keyframes mdc-floating-label-shake-float-above-text-field-outlined-leading-icon-rtl {
  0% {
    -webkit-transform: translateX(calc(0 - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - -32px)) translateY(-34.75px) scale(0.75);
  }
  33% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(calc(4% - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(4% - -32px)) translateY(-34.75px) scale(0.75);
  }
  66% {
    -webkit-animation-timing-function: cubic-bezier(
      0.302435,
      0.381352,
      0.55,
      0.956352
    );
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(calc(-4% - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(-4% - -32px)) translateY(-34.75px) scale(0.75);
  }
  100% {
    -webkit-transform: translateX(calc(0 - -32px)) translateY(-34.75px)
      scale(0.75);
    transform: translateX(calc(0 - -32px)) translateY(-34.75px) scale(0.75);
  }
}
:host([with-trailing-icon]) {
  padding-left: 16px;
  padding-right: 0;
}
:host([dir="rtl"][with-trailing-icon]) {
  padding-left: 0;
  padding-right: 16px;
}
:host([filled][with-trailing-icon]) ::slotted([slot="label"]) {
  max-width: calc(100% - 64px);
}
:host([filled][with-trailing-icon]) .mdc-floating-label--float-above {
  max-width: calc(100% / 0.75 - 64px / 0.75);
}
:host([outlined][with-trailing-icon])
  :not(.mdc-notched-outline--notched)
  .mdc-notched-outline__notch {
  max-width: calc(100% - 60px);
}
:host([with-trailing-icon][with-leading-icon]) {
  padding-left: 0;
  padding-right: 0;
}
:host([with-trailing-icon][filled][with-leading-icon])
  ::slotted([slot="label"]) {
  max-width: calc(100% - 96px);
}
:host([with-trailing-icon][filled][with-leading-icon])
  .mdc-floating-label--float-above {
  max-width: calc(100% / 0.75 - 96px / 0.75);
}
.mdc-text-field-helper-line {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
:host + .mdc-text-field-helper-line {
  padding-right: 16px;
  padding-left: 16px;
}
.mdc-form-field > :host + label {
  align-self: flex-start;
}
:host(:not([disabled])[focused]) ::slotted([slot="label"]) {
  color: rgba(98, 0, 238, 0.87);
}
:host([focused]) .mdc-notched-outline__leading,
:host([focused]) .mdc-notched-outline__notch,
:host([focused]) .mdc-notched-outline__trailing {
  border-width: 2px;
}
:host([focused])
  + .mdc-text-field-helper-line
  .mdc-text-field-helper-text:not(.mdc-text-field-helper-text--validation-msg) {
  opacity: 1;
}
:host([outlined][focused])
  .mdc-notched-outline--notched
  .mdc-notched-outline__notch {
  padding-top: 2px;
}
:host([outlined][textarea][focused])
  .mdc-notched-outline--notched
  .mdc-notched-outline__notch {
  padding-top: 0;
}
:host(:not([disabled]):hover[invalid]) .mdc-line-ripple::before {
  border-bottom-color: #b00020;
  border-bottom-color: var(--mdc-theme-error, #b00020);
}
:host(:not([disabled])[invalid]) .mdc-line-ripple::after {
  border-bottom-color: #b00020;
  border-bottom-color: var(--mdc-theme-error, #b00020);
}
:host(:not([disabled])[invalid]) ::slotted([slot="label"]) {
  color: #b00020;
  color: var(--mdc-theme-error, #b00020);
}
:host(:host(:not([disabled])[invalid][invalid]))
  + .mdc-text-field-helper-line
  .mdc-text-field-helper-text--validation-msg {
  color: #b00020;
  color: var(--mdc-theme-error, #b00020);
}
:host([invalid]) ::slotted([slot="input"]) {
  caret-color: #b00020;
  caret-color: var(--mdc-theme-error, #b00020);
}
:host(:not([disabled])[invalid]) .mdc-text-field__icon--trailing {
  color: #b00020;
  color: var(--mdc-theme-error, #b00020);
}
:host(:not([disabled])[invalid]) .mdc-line-ripple::before {
  border-bottom-color: #b00020;
  border-bottom-color: var(--mdc-theme-error, #b00020);
}
:host(:not([disabled])[invalid]) .mdc-notched-outline__leading,
:host(:not([disabled])[invalid]) .mdc-notched-outline__notch,
:host(:not([disabled])[invalid]) .mdc-notched-outline__trailing {
  border-color: #b00020;
  border-color: var(--mdc-theme-error, #b00020);
}
:host(:not([disabled]):not([focused]):hover[invalid])
  .mdc-notched-outline
  .mdc-notched-outline__leading,
:host(:not([disabled]):not([focused]):hover[invalid])
  .mdc-notched-outline
  .mdc-notched-outline__notch,
:host(:not([disabled]):not([focused]):hover[invalid])
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: #b00020;
  border-color: var(--mdc-theme-error, #b00020);
}
:host(:not([disabled])[focused][invalid]) .mdc-notched-outline__leading,
:host(:not([disabled])[focused][invalid]) .mdc-notched-outline__notch,
:host(:not([disabled])[focused][invalid]) .mdc-notched-outline__trailing {
  border-color: #b00020;
  border-color: var(--mdc-theme-error, #b00020);
}
:host([invalid])
  + .mdc-text-field-helper-line
  .mdc-text-field-helper-text--validation-msg {
  opacity: 1;
}
:host([disabled]) {
  pointer-events: none;
}
:host([disabled]) ::slotted([slot="input"]) {
  color: rgba(0, 0, 0, 0.38);
}
@media all {
  :host([disabled]) ::slotted([slot="input"]::-webkit-input-placeholder) {
    color: rgba(0, 0, 0, 0.38);
  }
  :host([disabled]) ::slotted([slot="input"]:-ms-input-placeholder) {
    color: rgba(0, 0, 0, 0.38);
  }
  :host([disabled]) ::slotted([slot="input"]::-ms-input-placeholder) {
    color: rgba(0, 0, 0, 0.38);
  }
  :host([disabled]) ::slotted([slot="input"]::placeholder) {
    color: rgba(0, 0, 0, 0.38);
  }
}
@media all {
  :host([disabled]) ::slotted([slot="input"]:-ms-input-placeholder) {
    color: rgba(0, 0, 0, 0.38);
  }
}
:host([disabled]) ::slotted([slot="label"]) {
  color: rgba(0, 0, 0, 0.38);
}
:host([disabled]) + .mdc-text-field-helper-line .mdc-text-field-helper-text {
  color: rgba(0, 0, 0, 0.38);
}
:host([disabled]) .mdc-text-field-character-counter,
:host([disabled])
  + .mdc-text-field-helper-line
  .mdc-text-field-character-counter {
  color: rgba(0, 0, 0, 0.38);
}
:host([disabled]) .mdc-text-field__icon--leading {
  color: rgba(0, 0, 0, 0.3);
}
:host([disabled]) .mdc-text-field__icon--trailing {
  color: rgba(0, 0, 0, 0.3);
}
:host([disabled]) .mdc-text-field__affix--prefix {
  color: rgba(0, 0, 0, 0.38);
}
:host([disabled]) .mdc-text-field__affix--suffix {
  color: rgba(0, 0, 0, 0.38);
}
:host([disabled]) .mdc-line-ripple::before {
  border-bottom-color: rgba(0, 0, 0, 0.06);
}
:host([disabled]) .mdc-notched-outline__leading,
:host([disabled]) .mdc-notched-outline__notch,
:host([disabled]) .mdc-notched-outline__trailing {
  border-color: rgba(0, 0, 0, 0.06);
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) ::slotted([slot="input"]::-webkit-input-placeholder) {
    color: GrayText;
  }
  :host([disabled]) ::slotted([slot="input"]:-ms-input-placeholder) {
    color: GrayText;
  }
  :host([disabled]) ::slotted([slot="input"]::-ms-input-placeholder) {
    color: GrayText;
  }
  :host([disabled]) ::slotted([slot="input"]::placeholder) {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) ::slotted([slot="input"]:-ms-input-placeholder) {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) ::slotted([slot="label"]) {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) + .mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) .mdc-text-field-character-counter,
  :host([disabled])
    + .mdc-text-field-helper-line
    .mdc-text-field-character-counter {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) .mdc-text-field__icon--leading {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) .mdc-text-field__icon--trailing {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) .mdc-text-field__affix--prefix {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) .mdc-text-field__affix--suffix {
    color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) .mdc-line-ripple::before {
    border-bottom-color: GrayText;
  }
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  :host([disabled]) .mdc-notched-outline__leading,
  :host([disabled]) .mdc-notched-outline__notch,
  :host([disabled]) .mdc-notched-outline__trailing {
    border-color: GrayText;
  }
}
:host([disabled]) ::slotted([slot="label"]) {
  cursor: default;
}
:host([filled][disabled]) {
  background-color: #fafafa;
}
:host([filled][disabled]) .mdc-text-field__ripple {
  display: none;
}
:host([disabled]) ::slotted([slot="input"]) {
  pointer-events: auto;
}
:host([end-aligned]) ::slotted([slot="input"]) {
  text-align: right;
}
:host([end-aligned]) ::slotted([slot="input"][dir="rtl"]) {
  text-align: left;
}
:host([dir="rtl"][ltr-text]) ::slotted([slot="input"]),
:host([dir="rtl"][ltr-text]) .mdc-text-field__affix {
  direction: ltr;
}
:host([dir="rtl"][ltr-text]) .mdc-text-field__affix--prefix {
  padding-left: 0;
  padding-right: 2px;
}
:host([dir="rtl"][ltr-text]) .mdc-text-field__affix--suffix {
  padding-left: 12px;
  padding-right: 0;
}
:host([dir="rtl"][ltr-text]) .mdc-text-field__icon--leading {
  order: 1;
}
:host([dir="rtl"][ltr-text]) .mdc-text-field__affix--suffix {
  order: 2;
}
:host([dir="rtl"][ltr-text]) ::slotted([slot="input"]) {
  order: 3;
}
:host([dir="rtl"][ltr-text]) .mdc-text-field__affix--prefix {
  order: 4;
}
:host([dir="rtl"][ltr-text]) .mdc-text-field__icon--trailing {
  order: 5;
}
:host([end-aligned][dir="rtl"][ltr-text]) ::slotted([slot="input"]) {
  text-align: right;
}
:host([end-aligned][dir="rtl"][ltr-text]) .mdc-text-field__affix--prefix {
  padding-right: 12px;
}
:host([end-aligned][dir="rtl"][ltr-text]) .mdc-text-field__affix--suffix {
  padding-left: 2px;
}
.mdc-text-field-helper-text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  font-family: var(
    --mdc-typography-caption-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: 0.75rem;
  font-size: var(--mdc-typography-caption-font-size, 0.75rem);
  line-height: 1.25rem;
  line-height: var(--mdc-typography-caption-line-height, 1.25rem);
  font-weight: 400;
  font-weight: var(--mdc-typography-caption-font-weight, 400);
  letter-spacing: 0.0333333333em;
  letter-spacing: var(--mdc-typography-caption-letter-spacing, 0.0333333333em);
  text-decoration: inherit;
  -webkit-text-decoration: var(
    --mdc-typography-caption-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-caption-text-transform, inherit);
  display: block;
  margin-top: 0;
  line-height: normal;
  margin: 0;
  opacity: 0;
  will-change: opacity;
  transition: opacity 150ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mdc-text-field-helper-text::before {
  display: inline-block;
  width: 0;
  height: 16px;
  content: "";
  vertical-align: 0;
}
.mdc-text-field-helper-text--persistent {
  transition: none;
  opacity: 1;
  will-change: initial;
}
.mdc-text-field-character-counter {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
  font-family: var(
    --mdc-typography-caption-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: 0.75rem;
  font-size: var(--mdc-typography-caption-font-size, 0.75rem);
  line-height: 1.25rem;
  line-height: var(--mdc-typography-caption-line-height, 1.25rem);
  font-weight: 400;
  font-weight: var(--mdc-typography-caption-font-weight, 400);
  letter-spacing: 0.0333333333em;
  letter-spacing: var(--mdc-typography-caption-letter-spacing, 0.0333333333em);
  text-decoration: inherit;
  -webkit-text-decoration: var(
    --mdc-typography-caption-text-decoration,
    inherit
  );
  text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
  text-transform: inherit;
  text-transform: var(--mdc-typography-caption-text-transform, inherit);
  display: block;
  margin-top: 0;
  line-height: normal;
  margin-left: auto;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 0;
  white-space: nowrap;
}
.mdc-text-field-character-counter::before {
  display: inline-block;
  width: 0;
  height: 16px;
  content: "";
  vertical-align: 0;
}
[dir="rtl"] .mdc-text-field-character-counter,
.mdc-text-field-character-counter[dir="rtl"] {
  margin-left: 0;
  margin-right: auto;
}
[dir="rtl"] .mdc-text-field-character-counter,
.mdc-text-field-character-counter[dir="rtl"] {
  padding-left: 0;
  padding-right: 16px;
}
.mdc-text-field__icon {
  align-self: center;
  cursor: pointer;
}
.mdc-text-field__icon:not([tabindex]),
.mdc-text-field__icon[tabindex="-1"] {
  cursor: default;
  pointer-events: none;
}
.mdc-text-field__icon svg {
  display: block;
}
.mdc-text-field__icon--leading {
  margin-left: 16px;
  margin-right: 8px;
}
[dir="rtl"] .mdc-text-field__icon--leading,
.mdc-text-field__icon--leading[dir="rtl"] {
  margin-left: 8px;
  margin-right: 16px;
}
.mdc-text-field__icon--trailing {
  padding: 12px;
  margin-left: 0px;
  margin-right: 0px;
}
[dir="rtl"] .mdc-text-field__icon--trailing,
.mdc-text-field__icon--trailing[dir="rtl"] {
  margin-left: 0px;
  margin-right: 0px;
}
:host {
  display: block;
}
:host([outlined]) {
  border: 1px solid blue;
}
::slotted([slot="label"]) {
  color: blue;
}
::slotted([slot="input"]) {
  color: blue;
}
:host {
  display: block;
}
:host([outlined]) {
  border: 1px solid blue;
}
::slotted([slot="label"]) {
  color: blue;
}
::slotted([slot="input"]) {
  color: blue;
}

    ✓ works (1955ms)


  1 passing (2s)

