---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Robust. Flexible.<br/> User Interfaces.<br/>
    <span>For Everyone.</span>
  </h1>

  <p>
    <!-- Flexible. Robust. User Interfaces.

    

    <br/><br/>
    For <i>Everyone</i>. -->


  </p>

  <h2>Robust.</h2>

  <p>
    Lion UI is used by thousands of engineers, worldwide. On top, it safeguards its resiliency via thousands of tests.
  </p>


  <h3>Battle tested</h3>

  <h3>Resilient</h3>



  <h3>Built on top of the platform</h3>
  <p>
    Lion is built as close to the platform as possible. What does that mean? It means that we don't have to load expensive
    dependencies when not needed. 
    
    Leveraging the platform leads to the best performance: file sizes are small, 
  </p>





  <h2>Flexible.</h2>

  <p>
    No matter the design, Lion lets you build it. With minimal effort and the highest quality. 
    Outsource the heavy lifting and focus on your own branding/styling. 
  </p>
  <br/>

  <p>
    Most design systems are not built with extensibility in mind. 
    They often force you to fork and inherit a set of technical debt from unused styles.
    <br/>
    <br/>

    Design systems that are built with extensibility in mind,only let you change theme variables like colors and spacings. 
    If you're lucky, they also allow you to provide your own css via part apis.

    While this can great for theming within an existing brand, it does not give you the full control that is needed for defining.

    Lion gives you all control by letting you define both markup and styles, while maintaining acessibility and functionality.

  </p>










  <h2>For everyone.</h2>

  <p>
  Built with all end users and all engineers in mind. Acessibility is a first class citizen. Can be easily adopted in any tech stack </p>

  <h3>All end users.</h3>
  At ING Bank, we take accessibility very seriously. 
  We brought learnings from building previous web component libraries, making sure accessibility is part of our component development lifecycle.
  They are built with scalable abstractions and 

  <h3>All engineers.</h3>
  Since Lion is built with platform technology, they can be adopted in any context. No matter if you use React, Angular, Vue or Svelte, Lion components will render.


</MainLayout>
