---
import Search from "astro-pagefind/components/Search";

import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout layout="layout-one-column">
  <h1>Search</h1>

  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</MainLayout>
