html {
  --primary-color: #8f7325;
  --primary-color-lighter: #8f7325;
  --primary-color-darker: #725c1e;
  --primary-color-accent: #cee5f6;
  --primary-text-color: #2c3e50;
  --primary-lines-color: #ccc;


  --gray-100: #e6e6e6;
  --gray-300: #b3b3b3;
  --gray-500: #808080;
  --gray-700: #4d4d4d;
  --gray-800: #282828;
  --gray-900: #1a1a1a;

  --primary-icon-color: var(--primary-color-darker);
  --neutral-color: var(--gray-500); 
  --neutral-color-lightest: var(--gray-100);
  --neutral-color-lighter: var(--gray-300);
  --neutral-color-darker: var(--gray-700);
  --neutral-color-darkest: var(--gray-900);


  /* Contrast colors */
  --contrast-color-light: #fff;
  --contrast-color-dark: #1d3557;

  /* background-colors */
  --page-background: white;
  --footer-background: rgba(0, 0, 0, 0.1);
  --markdown-syntax-background-color: var(--neutral-color-darkest);
  --text-color: black;

  /* search colors*/
  --rocket-search-highlight-color: #2c3e50;

  --text-color: black;
  --primary-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Montserrat', sans-serif;
  --monospace-font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier',
    monospace;
}
