---
import MainLayout from "../../layouts/MainLayout.astro";
import { fundamentalsEntries } from "../../content";
import { blogEntries } from "../../content";
import { guideEntries } from "../../content";

export async function getStaticPaths() {
  return [{
    params: { top: 'fundamentals' },
    props: { entries: fundamentalsEntries },
  }, {
    params: { top: 'blog' },
    props: { entries: blogEntries },
  }, {
    params: { top: 'guides' },
    props: { entries: guideEntries },
  }];
}

const entries = Astro.props.entries;
---

<MainLayout>
  <div class="ui-portal-collection">
    {
      entries.map((entry) => (
        <article class="ui-portal-card">
          <h2>{entry.data.title}</h2>
          <p>{entry.slug}</p>
          <p>{entry.data.description}</p>
          <a href={entry.slug}>View blog</a>
        </article>
      ))
    }
  </div>
</MainLayout>
